<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div th:replace="~{fragments/header :: main-header}"></div>

<div class="container">
    <div class="form-container">
        <h2>Create an Account</h2>
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div class="form-group">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" th:field="*{firstName}" required />
            </div>
            <div class="form-group">
                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" th:field="*{lastName}" required />
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" th:field="*{email}" required />
            </div>
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" required />
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" required />
            </div>
            <button type="submit" class="button button-success">Register</button>
        </form>
        <p style="margin-top: 15px;">
            Already have an account? <a th:href="@{/login}">Login here</a>
        </p>
    </div>
</div>

<div th:replace="~{fragments/footer :: main-footer}"></div>
</body>
</html>